@import url('./fonts.css');

body * {
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	margin: 0;
}

body {
	overflow: none;
}


a {
	text-decoration: none;
	color: #000;
}

.container {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

.top__inner {
	display: flex;
	margin: 30px 0;
}

.logo {
	text-transform: uppercase;
	font-size: 21.68px;
}

.logo_studio {
	display: block;
	font-size: 22.04px;
}

.free_visit {
	text-transform: uppercase;
	margin-left: auto;
}

.free_visit-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 4%;
	color: #858e8a;
}

.free_visit-num {
	font-weight: 500;
	font-size: 18px;
	display: flex;
	justify-content: end;
	margin-top: 8px;
	color: #2c332f;
}

.main {
	padding-bottom: 120px;
}

.article-discovery {
	padding-top: 80px;
}

.article-title-large {
	max-width: 596px;
	font-size: 48px;
}

.article-title-medium {
	max-width: 596px;
	font-size: 36px;
}

.article-decor-wrapper {
	position: relative;
}

.play {
	position: absolute;
	left: 580px;
	bottom: 300px;
}

.article-decor {
	position: absolute;
	z-index: -1;
	top: 100px;
	left: -350px;
}

.article-title {
	font-family: Oswald, sans-serif;
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	margin-bottom: 40px;
}

.article-text {
	margin-bottom: 20px;
	font-weight: 400;
	color: #535755;
	font-size: 16px;
	line-height: 130%;
}
.article-mb {
	margin-bottom: 80px;
}

.article_activities--list {
	padding-left: 16px;
}

.article_activities--item {
	margin-bottom: 12px;
}

.article_activities--item::marker {
	color: #3596ed;
}

.article-decor-2 {
	position: absolute;
	z-index: -1;
	top: 328px;
	right: -350px;
}

.article-play-button {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background-color: #3596ed;
	padding: 0;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.footer {
	padding-top: 80px;
	background: linear-gradient(
		90deg,
		rgba(73, 169, 255, 0.2) 0%,
		rgba(252, 124, 217, 0.2) 100%
	);
}

.footer__menu li {
	line-height: 130%;
	font-size: 16px;
	color: #535755;
	white-space: nowrap;
	list-style-type: none;
}

.footer__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__logo {
	display: block;
	text-align: center;
}

.logo_studio {
	margin-bottom: 40px;
}

.footer__menu {
	display: flex;
	justify-content: center;
	max-width: 733px;
	gap: 60px;
	margin-bottom: 40px;
}

.copyright {
	font-size: 14px;
	letter-spacing: 4%;
	padding: 40px 0;
	font-size: 14px;
	color: #858e8a;
	text-align: center;
}
