@import url('./fonts.css');   

body *{
  box-sizing:border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

.container {
	max-width: 1250px;
	padding: 0 15px;
  margin: 0 auto;
}

.top__inner{
  display: flex;
  margin: 30px 0;
}

.logo {
	text-transform: uppercase;
  font-size: 21.68px;
}

.logo_studio{
  display: block;
  font-size: 22.04px;
}

.free_visit{
  text-transform: uppercase;
  margin-left: auto;
}

.free_visit-text{
  font-weight: 300;
  font-size: 14px;
  line-height: 4%;
  color:#858E8A;
}

.free_visit-num{
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: end;
  gap: 8px;
  color:#2C332F;
}